
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <div class="page-header">
                <h1>Example Queries</h1>
            </div>
            <p><a ng-href="/q/Stream<A> -> Stream<B>"><kbd>Stream&lt;A&gt; -&gt; Stream&lt;B&gt;</kbd></a> blah
                blah
                blah </p>

            <p><a ng-href="/q/(int, int) -> int"><kbd>(int, int) -&gt; int</kbd></a> blah blah blah</p>

            <p><a ng-href="/q/concat"><kbd>concat</kbd></a> blah blah blah</p>
            </ul>
        </div>
    </div>
</div>